body {
	font-family: 'Source Code Pro', monospace;
	font-size: 16px;
    background-color: #ffffff;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
}

hr {
    border: 0;
    height: 1px;
    background: #dddddd;
}

table, td {
    border: 1px solid #aaaaaa;
}

code {
    font-family: 'Source Code Pro', monospace;
    border: 1px solid #dddddd;
    background-color: #fdfdfd;
    border-radius: 2px;
}

#terminate a:link,
#terminate a:visited {
    color: red;
}

.yellow {
    color: yellow;
}

#about a:link,
#about a:visited {
    color: #555555;
}

#functions a:link,
#functions a:visited {
	color: #0000FF;
}

#status {
	color: #CC0000;
}
#status a:link,
#status a:visited {
    color: #CC0000;
}

#output {
	color: #000000;
	width: 95%;
	word-wrap: break-word;
}

#inputFieldSection a:link,
#inputFieldSection a:visited {
    color: #0000FF;
}

.inputField {
    border: 1px solid #cccccc;
    height: 20px;
    width: 90%;
    outline: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    color: #cccccc;
    border-radius: 3px;
    transition: border 0.5s ease,
    color 0.5s ease;
}

span.terminate {
    color: #eeeeee;
}
span.terminate a:link,
span.terminate a:visited {
    color: red;
    opacity: 0.3;
    text-decoration: none;
    transition: opacity 0.4s ease;
}
span.terminate a:hover {
    opacity: 1;
}

span.input-container {
    background.color: #ffffff;
}

span.bold {
    font-weight: bold;
}

span.subText {
    color: #888888;
    float: right;
}

span.error {
    color: #cc2233;
}